@model Jobify.Models.ApplicantJob

@{
    ViewBag.Title = "Delete";
}

<div class="breadcrumbs aos-init aos-animate" data-aos="fade-in">
    <div class="container">
        <h2>@Html.DisplayFor(model => model.Applicant.FirstName) - @Html.DisplayFor(model => model.Job.JobName) </h2>
    </div>
</div>
<section id="course-details" class="course-details">
    <div class="container aos-init aos-animate" data-aos="fade-up">
        <h3>Are you sure you want to remove your application ?</h3>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Delete" class="btn btn-outline-danger" /> |
                @Html.ActionLink("Back to List", "Index")
            </div>
        }
    </div>
</section>